<h1 class="text-2xl font-bold uppercase | flex items-center justify-center | border-b-2 border-b-slate-100 | pb-4 mb-4">
  <mat-icon inline class="me-3">lock</mat-icon>
  <ng-container i18n>Modifica password</ng-container>
</h1>

<tui-loader [showLoader]="submitting" [overlay]="true">
  <p i18n class="mb-2">Inserisci la tua password corrente e scegli una nuova password, quindi premi <strong>Avanti</strong> per proseguire</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <div class="mb-3">
        <tui-input-password #password tuiHintContent [tuiTextfieldIconLeft]="keyIcon" formControlName="current_password" data-cy="password-field" tuiAutoFocus>
          Password attuale
          <input tuiTextfield type="password" autocomplete="password">
        </tui-input-password>

        @if(form.get('current_password')?.touched && form.get('current_password')?.errors; as errors){
          @if(errors['invalid']){ <p class="form-text error">La password inserita non è corretta!</p> }
          @if(errors['required']){ <p class="form-text error" i18n>La password non può essere vuota!</p> }
          @if(errors['userBlocked']) { <p class="form-text error">Il tuo account è stato bloccato, quindi non è possibile modificare la password!</p> }
        } @else {
          <p class="form-text" i18n>Inserisci la tua password attuale</p>
        }
      </div>

      <div class="mb-3">
        <tui-input-password #password tuiHintContent [tuiTextfieldIconLeft]="keyIcon" formControlName="new_password" data-cy="password-field">
          Scegli una nuova password
          <input tuiTextfield type="password" autocomplete="password">
        </tui-input-password>

        @if(form.get('new_password')?.touched && form.get('new_password')?.errors; as errors){
          @if(errors['required']){ <p class="form-text error" i18n>La password non può essere vuota!</p> }
          @if(errors['tooShort']){ <p class="form-text error" i18n>{{errors['tooShort']}}</p> }
        } @else {
          <p class="form-text" i18n>Scegli una nuova password per il tuo account</p>
        }
      </div>

      <div class="flex flex-row justify-between items-center">
        <a tuiButton appearance="secondary-destructive" routerLink="..">Annulla</a>

        <button tuiButton type="submit" [showLoader]="submitting" [disabled]="form.invalid" data-cy="submit-btn" i18n>Avanti</button>
      </div>
    </div>
  </form>
</tui-loader>

<ng-template #keyIcon>
  <mat-icon>vpn_key</mat-icon>
</ng-template>

