<tui-loader size="xl" [overlay]="true" [showLoader]="loading()">
  <table class="tui-table">
    <tbody>
      @for(wday of weekdays(); track wday){
      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <p class="text-xl">{{ wday | weekday }}</p>

        </td>

        <td class="tui-table__td">
          <div class="flex flex-col">
            @for(item of turnsPerDay()[wday]; track item.id; let turnIndex = $index){
            <ng-template #selectDatesTemplate>
              <!-- <tui-input-date
                [tuiTextfieldCleaner]="true"
                [inputHidden]="true"
                [expandable]="true"
                [tuiDropdownOpen]="true"
                [disabledItemHandler]="item.weekday | tuiWeekdayHandler"
                [ngModel]="item.dates | toTuiDays" multiple>
                <ng-container i18n>Seleziona i giorni</ng-container>
              </tui-input-date> -->

              <!-- <tui-calendar
                tuiPreventDefault="mousedown"
                [disabledItemHandler]="disabledItemHandler"
                [markerHandler]="markerHandler"
                [max]="computedMax"
                [min]="computedMin"
                [month]="computedActiveYearMonth"
                [value]="value"
                (dayClick)="onDayClick($event)"
                (monthChange)="onMonthChange($event)"
              ></tui-calendar> -->

            <tui-calendar
              tuiPreventDefault="mousedown"
              [disabledItemHandler]="item.weekday | tuiWeekdayHandler"
              [value]="item.dates | toTuiDays"
              (dayClick)="addDate(item.id, $event)"
            ></tui-calendar>

            </ng-template>

            <div class="flex flex-row items-center mb-5">
              <tui-checkbox-block
                class="me-1"
                (ngModelChange)="item.selected = $event"
                [ngModel]="item.selected === true">
                <!-- (ngModelChange)="updateSelection(item, $event)" -->
                {{ item.name }}
              </tui-checkbox-block>

              @if(item.selected === true) {
                <div class="flex flex-col">
                  @for(date of item.dates; track date) {
                    <span class="mx-2 mb-1">{{ date | date: 'shortDate' }}</span>
                  } @empty {
                    <span i18n class="text-xl text-green-500">Sempre</span>
                  }

                  <tui-hosted-dropdown [content]="selectDatesTemplate">
                    <button tuiButton tuiHint="Modifica date" appearance="outline" size="s" type="button">
                      <ng-container i18n>Modifica date</ng-container>
                    </button>
                  </tui-hosted-dropdown>
                </div>
              }
            </div>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</tui-loader>
