<ng-template #noItems>
  <ng-container i18n>Nessun elemento</ng-container>
</ng-template>

<h1 i18n>Preferenze personali</h1>
<p class="text-slate-400 mb-3" i18n>Queste impostazioni verranno applicate solo al tuo account.</p>

<form [formGroup]="form">
  <div class="mb-4">
    <p class="text-lg font-bold">Lingua preferita</p>
    <p class="text-slate-400">Seleziona la lingua che preferisci utilizzare.</p>

    <app-admin-language-switcher></app-admin-language-switcher>
  </div>

  <div class="mb-4">
    <p class="text-lg font-bold">Lingue conosciute</p>
    <p class="text-slate-400">Quali lingue conosci? Questa informazione ci serve per capire quali lingue mostrarti
      quando
      crei o modifichi elementi con nomi in diverse lingue.</p>

    <ng-template #knownLanguagesItemContent let-item>{{ item | language }}</ng-template>
    <app-preferences-multiple-select
        [formControlName]="'known_languages'"
        [items]="allLanguages"
        [itemContent]="knownLanguagesItemContent"
        [stringifyFn]="applyPipeFunction(languagePipe)"
        (submit)="save('known_languages', $event)"
        [inputSize]="inputSize"
    >
      <ng-container i18n>Seleziona molte lingue</ng-container>
    </app-preferences-multiple-select>
  </div>
</form>