<tui-input [formControl]="price" tuiTextfieldSize="l" tuiTextfieldPostfix="€" >
  <ng-content></ng-content>
</tui-input>

<!--<tui-expand [expanded]="!!price.value && price.valid && category != null && dishesWithPrice().length > 0">-->
<!--  <span class="text-red-600 inline-block" i18n>La categoria di questo piatto ha un prezzo fisso.</span>-->
<!--  <button tuiButton appearance="secondary-destructive" type="button" (click)="removePriceFromCategory()">-->
<!--    <ng-container i18n>Rimuovi prezzo fisso dalla categoria</ng-container>-->
<!--  </button>-->
<!--</tui-expand>-->