:host {
  ::ng-deep {
    tui-stepper {
      --tui-primary: var(--first-color);
      --tui-link: var(--first-color);
      --tui-secondary: var(--second-color);
      --tui-link-hover: var(--second-color);
      --tui-secondary-hover: var(--first-color);
    }
  }
}