<div class="flex items-center justify-between">
  <h1>
    <ng-container i18n>New reservation</ng-container>
  </h1>

  <button (click)="cancel()" type="button" tuiIconButton appearance="icon">
    <mat-icon>close</mat-icon>
  </button>
</div>

<app-admin-reservation-form [loading]="loading()" (cancelled)="cancel()" (formSubmit)="submit($event)"></app-admin-reservation-form>

<!--<app-reservation-form [loading]="loading()" (cancelled)="cancel()" (formSubmit)="submit($event)" ></app-reservation-form>-->