<ng-template #valueContent let-status>
  <app-reservation-status [status]="status" ></app-reservation-status>
</ng-template>

<tui-select [valueContent]="valueContent" [tuiTextfieldCleaner]="showCleaner" [tuiTextfieldSize]="inputSize" [formControl]="control">
  <ng-content></ng-content>

  <tui-data-list *tuiDataList>
    <ng-container *ngFor="let status of statuses">
      <button tuiOption [value]="status">
        <app-reservation-status [status]="status" ></app-reservation-status>
      </button>
    </ng-container>
  </tui-data-list>
</tui-select>
