<h1>
  <ng-container i18n>Crea nuova categoria</ng-container>
</h1>

<div class="mb-3">
    <span class="flex items-center">
      <span i18n>Crea come</span>

      <ng-template #hint>
        <ng-container i18n>Puoi decidere di creare una categoria come menù principale, in tal caso avrà una sua visibilità e potrà avere un prezzo fisso, oppure come sotto-categoria di un altra categoria.</ng-container>
      </ng-template>
      <tui-tooltip
          [content]="hint"
          direction="right"
      ></tui-tooltip>
    </span>

  <div tuiGroup
       class="group"
       [collapsed]="true">

    <tui-radio-block
        contentAlign="right"
        [formControl]="askParent"
        size="l"
        [hideRadio]="true"
        [item]="false">
      <ng-container i18n>Menù principale</ng-container>
    </tui-radio-block>

    <tui-radio-block
        contentAlign="right"
        [formControl]="askParent"
        size="l"
        [hideRadio]="true"
        [item]="true">
      <ng-container i18n>Sotto-categoria di un altra categoria</ng-container>
    </tui-radio-block>
  </div>
</div>

<form (ngSubmit)="submit()" [formGroup]="form">

  @if (askParent.value === true) {
    <div class="mb-3">
      <app-menu-category-select [formControl]="parent">
        <ng-container i18n>Categoria padre</ng-container>
      </app-menu-category-select>

      @if (parent.touched || this.submitted) {
        <app-errors [errors]="parent.errors"></app-errors>
      }
    </div>
  }

  <div class="mb-3">
    <app-i18n-input formControlName="name">
      <ng-container i18n>Nome della categoria</ng-container>
    </app-i18n-input>

    <app-errors [errors]="e('name')"></app-errors>
  </div>

  <div class="flex">
    <button [showLoader]="loading()" class="me-2" tuiButton type="submit" size="l">
      <ng-container i18n>Conferma</ng-container>
    </button>

    <button [showLoader]="loading()" (click)="cancel()" tuiButton type="button" appearance="icon" size="l">
      <ng-container i18n>Annulla</ng-container>
    </button>
  </div>
</form>