@if (parent()) {
  <h1 class="flex items-center">
    <span i18n>Crea nuova categoria</span>
  </h1>

  <div class="mb-3">
    <span class="me-2 text-slate-400">
      <ng-container i18n>La categoria verrà creata come sottocategoria di</ng-container>
    </span>

    <a tuiLink [routerLink]="parent()?.id | urlTo: 'menuCategory.show'">{{ parent()?.name }}</a>
  </div>
} @else {
  <h1>
    <ng-container i18n>Crea nuovo menù</ng-container>
  </h1>
}

<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="mb-3">
    <app-i18n-input formControlName="name">
      <ng-container i18n>Nome</ng-container>
    </app-i18n-input>

    <app-errors [errors]="e('name')"></app-errors>
  </div>

  <div class="flex">
    <button [showLoader]="loading()" class="me-2" tuiButton type="submit" size="l">
      <ng-container i18n>Conferma</ng-container>
    </button>

    <button [showLoader]="loading()" (click)="cancel()" tuiButton type="button" appearance="icon" size="l">
      <ng-container i18n>Annulla</ng-container>
    </button>
  </div>
</form>