:host {
  background-image: url('https://laportadacqua.com/public/img/jun-hao-LZdWliSMBxE-unsplash-3.jpg');
  height: 100vh;
  display: block;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: unset !important;
  
  .title {
    font-family: publicHomeLandingTitle, serif;
  }

  .subtitle {
    font-family: publicHomeLandingSubtitle, serif;
  }

  .cit {
    font-family: 'Tangerine', cursive;
  }

  @font-face {
    font-family: publicHomeLandingTitle;
    src: url('/assets/fonts/TrajanProBold.ttf');
  }

  @font-face {
    font-family: publicHomeLandingSubtitle;
    src: url('/assets/fonts/CalifornianFBItalic.ttf');
  }
}