<div class="flex h-full w-full flex-col justify-center">
  <div class="flex flex-col ms-8 md:ms-16 lg:ms-32 xl:ms-60">
    <h1 class="title | text-primary mb-2 w-fit text-3xl md:text-5xl lg:text-6xl xl:text-7xl">LA PORTA D'ACQUA</h1>
    <h5 class="subtitle | text-primary mb-5 border-t border-primary w-fit text-xl md:text-3xl lg:text-4xl xl:text-5xl">
      <ng-container i18n>sul Canal Grande</ng-container>
      <!-- <ng-container i18n>on the Grand Canal</ng-container> -->
    </h5>

    <h4 class="cit | text-3xl md:text-5xl lg:text-6xl mb-2" >~ Gutta cavat lapidem non vi, sed saepe cadendo. cit Lucrezio</h4>
    <h6 class="cit | text-3xl md:text-5xl lg:text-6xl" >
      <ng-container i18n>~ Cadendo, la goccia scava la pietra, non per la sua forza, ma per la sua costanza.</ng-container>
    </h6>
  </div>
</div>