:host {
  background-image: url('/assets/img/public-home-landing.jpg');
  
  .title {
    font-family: "TrajanProBold", serif;
  }

  .subtitle {
    font-family: "CalifornianFBItalic", serif;
  }

  .cit {
    font-family: 'Tangerine', cursive;
  }
}