<h1>Lpda dev</h1>
<p> In questa pagina si possono mettere componenti ed idee. </p>

<hr>

<h3>Input per testi da tradurre</h3>
<p>
  Semplici input tui-input. <br>
Toggle "Mostra traduzioni" andrà a mostrare tutti le altre lingue sotto. <br>
Modificare il valore del toggle modificherà un impostazione per quell'utente, che da quel momento vedrà tutte le traduzioni. <br>
Possibilità di mostrare e nascondere questo toggle: Se si è in una grande form, conviene avere la toggle esterna agli input per evitare rindondanza. <br>
</p>