:host {
  --tui-primary: var(--first-color);
  --tui-primary-hover: var(--second-color);
  --content-width: 70%;
  --actions-width: 30%;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  @apply fixed bottom-0 left-0 right-0 top-0 z-50 flex flex-col justify-end text-lg;

  background-color: var(--overlay-bg);

  &.accepted {
    display: none;
  }

  .cookie-box {
    background-color: #fff;
  }

  .content {
    width: var(--content-width);
    padding-right: 20px;
  }

  .actions {
    width: var(--actions-width);
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  :host {
    --content-width: 100%;
    --actions-width: 100%;

    .container {
      flex-wrap: wrap;
    }
  }
}
