<tui-loader size="xl" [overlay]="true" [showLoader]="loading()">
  <table class="tui-table">
    <tbody>
      @for(wday of weekdays(); track wday){
      <tr class="tui-table__tr tui-table__tr_border_none">
        <td class="tui-table__td">
          <p class="text-xl">{{ wday | weekday }}</p>

        </td>

        <td class="tui-table__td">
          <div class="flex flex-col">
            @for(turn of turnsPerDay()[wday]; track turn.id; let turnIndex = $index){
              @if(turn.id) {
                  <div class="flex flex-row items-center mb-5">
                    <!-- [readOnly]="!editable" -->
                    <!-- [ngModel]="selection !== undefined"> -->
                    <tui-checkbox-block
                      [readOnly]="disabled()"
                      [ngModel]="selections().includes(turn.id)"
                      class="me-1"
                      (ngModelChange)="triggerSelection(turn.id)">
                      {{ turn.name }}
                    </tui-checkbox-block>
                  </div>
              }
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</tui-loader>
