<ng-template #resendHint>
  <ng-container i18n>Invia conferma prenotazione</ng-container>
</ng-template>

@if (reservation) {
  <tui-hosted-dropdown #dropdown [content]="allEvents">
    <button tuiButton appearance="custom" size="s" type="button">
      <span class="flex items-center">
        <span class="me-1" >{{ emails().length }}</span>
        <mat-icon class="text-slate-500" [ngClass]="{'text-blue-500': emailOpenAtLeastOnce(), 'text-slate-500': !emailOpenAtLeastOnce()}" >mail</mat-icon>
        <mat-icon class="text-slate-500 animation-speed-2" [ngClass]="{'rotate180': dropdown.open}" >expand_more</mat-icon>
      </span>
    </button>
  </tui-hosted-dropdown>
}

<ng-template #allEvents>
  @if (reservation) {
    <div class="p-3">
      @for (deliveredEmail of emails(); track deliveredEmail.id) {
        <div class="flex flex-col">
          <div class="flex">
            <span class="text-slate-400 me-1">#{{ deliveredEmail.id }}</span>
            <b class="me-1" i18n>Email inviata</b>
            <span>{{ deliveredEmail.created_at | date: "EEEE d MMMM y, H:m" }}</span>
          </div>
        </div>

        <ul>
          @for (pixel of deliveredEmail.image_pixels; track pixel.id) {
            @for (event of pixel.events; track event.id) {
              <li>
            <span class="flex items-center">
              <span class="me-1">{{ pixel.event_type | humanizeEventType }}</span>
              <span class="me-1">{{ event.event_time | date: "EEEE d MMMM y, H:m" }}</span>
              @if (event.event_data) {
                <span class="text-slate-400">{{ event.event_data | json }}</span>
              }
            </span>
              </li>
            }
          }
        </ul>
      }

      <button [showLoader]="loading()" [appearance]="'outline'"
              [disabled]="!(reservation.email && reservation.email.length > 0)" (click)="resendEmail()" type="button"
              tuiButton size="s">
        <span class="flex items-center">
          <span class="me-2">
            @if (emails().length > 0) {
              <ng-container i18n>Rimanda email di conferma</ng-container>
            } @else {
              <ng-container i18n>Invia email di conferma</ng-container>
            }
          </span>
        <mat-icon>send</mat-icon>
        </span>
      </button>

    </div>
  }
</ng-template>