<div class="h-full w-full grid grid-cols-2">
  <div class="grow flex flex-col justify-center col-span-2 md:col-span-1 md:col-start-2 mx-auto max-w-[630px]">
    <div class="flex flex-col bg-white/85 p-3 rounded">
      <h2 class="text-5xl text-primary mb-2" i18n>Chi siamo</h2>
      <hr class="bg-primary w-3/4 h-[1px] mb-5">

      <h3 class="mb-3 text-xl" i18n>Nel cuore di <b>Venezia</b>, a due passi dal <b>ponte di Rialto</b>, il <b>ristorante</b> è
        situato in un
        palazzo
        del 1400 affacciato sul <b>Canal Grande</b>. Facilissimo da raggiungere da ogni direzione, <b>La Porta
          d’Acqua</b>
        coniuga con successo la qualità dei suoi <b>piatti</b> con una location decisamente fuori dall’ordinario.</h3>

      <div class="flex justify-end">
        <div class="block">
          <a size="m" tuiButton appearance="custom" class="btn-primary-outline" routerLink="/about">
            <ng-container i18n>Chi siamo</ng-container>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>