<div class="flex justify-center h-full">
  <div class="flex flex-col justify-center">
    <form class="flex flex-col" (ngSubmit)="submit()" [formGroup]="form">
      <h2 class="mb-1">Reimposta la password.</h2>
      <span class="text-slate-400">Inserisci l'indirizzo email dell'account.</span>
      <span class="text-slate-400 mb-3">Ti invieremo un'email da cui potrai resettare la password.</span>

      <div class="mb-2">
        <tui-input [tuiAutoFocus]="true" [tuiTextfieldSize]="'l'" formControlName="email">
          <ng-container i18n>Email</ng-container>

          <input tuiTextfield autocomplete="email" type="text">
        </tui-input>
      </div>

      <div class="flex justify-between">
        <button class="me-2" routerLink="/auth" tuiButton appearance="secondary" type="button">Annulla</button>

        <button [showLoader]="loading" class="ms-2" tuiButton type="submit">Conferma</button>
      </div>
    </form>
  </div>
</div>