<div class="flex items-center">
  <button class="!border !border-solid !rounded-full !border-slate-400" (click)="prevDay()" tuiIconButton type="button" size="m" appearance="icon">
    <mat-icon>arrow_back</mat-icon>
  </button>

      <tui-input-date [tuiAutoFocus]="true" [tuiTextfieldSize]="inputSize" [min]="minToday ? today : null" class="mx-2 grow"
                      [formControl]="control">
        <ng-content></ng-content>
      </tui-input-date>

  <button class="!border !border-solid !rounded-full !border-slate-400" (click)="nextDay()" tuiIconButton type="button" size="m" appearance="icon">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>