<div class="max-w-[800px] mx-auto">
  <tui-loader
    [showLoader]="loading()"
    [overlay]="true"
  >

  @if(selectedCategory()) {
    <div class="flex">
      <div class="me-3">
        <p class="text-5xl">{{ selectedCategory()?.name }}</p>
        <p class="text-2xl text-slate-400">{{ selectedCategory()?.description }}</p>
        @if(selectedCategory()?.price) {
          <div class="text-lg w-fit text-success-dark rounded border border-success-dark py-2 px-4">Menù a prezzo fisso: {{ selectedCategory()?.price | currency }}</div>
        }
      </div>

      <div>
        <app-public-show-images class="block max-w-[200px]" [images]="selectedCategory()?.images" ></app-public-show-images>
      </div>
    </div>

    <button type="button" tuiLink (click)="navigateBack()">
      <span class="flex">
        <mat-icon>arrow_back</mat-icon>
        <span i18n>Indietro</span>
      </span>
    </button>
  } @else {
    <h1 class="text-5xl" i18n>Menù</h1>
    <p class="text-slate-400 text-xl" i18n>Naviga attraverso il menù cliccando sopra ai piatti per consultarne i dettagli.</p>
  }

  @if(categories().length == 0 && dishes().length == 0) {
    @if(loading()) {
      <ng-container i18n>Stiamo caricando i piatti migliori di tutta Venezia, un attimo di pazienza...</ng-container>
    } @else {
      <ng-container i18n>Non abbiamo trovato nulla.</ng-container>
    }
  }

  @for(category of categories(); track category.id) {
    <div (click)="clickOnCategory(category)" role="button" class="hover-transition cursor-pointer flex items-center mb-5 border-t-slate-200 border-t border-b border-solid border-b-slate-200 py-3">
      <div class="w-[25%] justify-center align-center me-3">
        <app-public-show-images class="block" [images]="category?.images" ></app-public-show-images>
      </div>

      <div class="justify-center align-center">
        <p class="text-3xl">{{ category.name }}</p>
        <p class="text-lg text-slate-400">{{ category.description }}</p>
        @if(category.price) {
          <div class="text-lg w-fit text-success-dark rounded border border-success-dark py-2 px-4">Menù a prezzo fisso: {{ category.price | currency }}</div>
        }
      </div>

      <div>
        <button type="button" tuiButton appearance="flat">
          <ng-container i18n>Apri</ng-container>
        </button>
      </div>
    </div>
  }

  @for(dish of dishes(); track dish.id) {
    <div (click)="clickOnDish(dish)" role="button" class="hover-transition | cursor-pointer flex items-center mb-5 border-t-slate-200 border-t border-b border-solid border-b-slate-200 py-3">
      <div class="w-[25%] justify-center align-center me-3">
        <app-public-show-images class="block" [images]="dish?.images" ></app-public-show-images>
      </div>

      <div class="justify-center align-center">
        <p class="text-3xl">{{ dish.name }}</p>
        <p class="text-lg text-slate-400">{{ dish.description }}</p>

      </div>

      <div>
          <div class="text-lg w-fit text-success-dark rounded border border-success-dark py-2 px-4">
            @if(dish.price == 0) {
              <ng-container i18n>Gratis</ng-container>
            } @else {
              {{ dish.price | currency }}
            }
          </div>
      </div>
    </div>
  }

  </tui-loader>
</div>