<ng-content></ng-content>

<div class="flex items-center justify-center mb-5">
  <div class="grid border-primary text-2xl" [ngStyle]="{'grid-template-rows': 'repeat('+options.length / perRow+', 5rem)', 'grid-template-columns': 'repeat('+options.length / (options.length / perRow)+', 5rem)'}" >
    @for(item of options; track item){
      <div (click)="control.setValue(item)"
           [ngClass]="{
            'bg-primary text-bold text-white': control.value === item,
            'border-t': item < perRow + 1,
            'border-s': (item - 1) % perRow == 0,
           }"
           class="cursor-pointer flex items-center justify-center border-primary border-e border-b">
        {{ item }}
      </div>
    }
  </div>
</div>

<!--<ng-content select="[errors]" ></ng-content>-->

<p class="text-center text-lg" i18n>Per prenotazioni più grandi di {{ maxPeople }} persone,<app-contact-us class="ms-1" >Contattaci</app-contact-us></p>