<tui-expand [expanded]="date.invalid">
  <p class="text-xl text-center mb-3">
    <ng-container i18n>Scegli la data</ng-container>
  </p>

  <div class="flex items-center justify-center">
    <tui-calendar
        [disabledItemHandler]="disabledDates"
        (touchend)="touched()"
        (dayClick)="onDayClick($event)"
        [value]="lastDate()"
    ></tui-calendar>
  </div>
</tui-expand>

<tui-expand [expanded]="date.valid">
  @if (date.value) {
    <p class="text-xl">
      <ng-container i18n>Seleziona l'orario per il giorno</ng-container>
      <span (click)="date.reset()" class="cursor-pointer inline-flex items-center ms-2 underline">
        {{ date.value.toLocalNativeDate() | date: 'EEEE d MMMM y' }}

        <mat-icon class="ms-1">edit</mat-icon>
      </span>
    </p>
  }

  @if (loadingTimes()) {
    <tui-loader [showLoader]="true"></tui-loader>
  } @else {
    @if(validTimes().length > 0) {
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
        @for (item of validTimes(); track item) {
          <button type="button" (click)="onTimeClick(item)" size="m" tuiButton appearance="custom"
                  [ngClass]="{'btn-primary': time.value && time.value.hours == item.hours && time.value.minutes == item.minutes, 'btn-primary-outline': !(time.value && time.value.hours == item.hours && time.value.minutes == item.minutes)}">
            {{ item }}
          </button>
        }
      </div>

      @if(group()){
        <div class="w-full my-5 border border-primary p-3 rounded-lg">
          <div class="w-full text-pretty my-3 text-xl">{{ group()?.message || defaultMessage }}</div>
          <button class="mb-3" tuiButton (click)="paymentAccepted.setValue(true)" appearance="primary" size="m" type="button">
            <ng-container i18n>Conferma</ng-container>
          </button>
        </div>
      }
    } @else {
      <div>
        <p class="text-xl text-danger" i18n>Siamo spiacenti, non sono disponibili orari per la data selezionata. Modifica la data e riprova.</p>
      </div>
    }
  }
</tui-expand>
