<!--<p>view-dish works!</p>-->

@if (dish()) {
  <div>
    <div class="flex items-center justify-between">
      <div class="flex flex-items">
        <h1>{{ dish()?.name }}</h1>
      </div>

      <div>
        <a tuiIconButton appearance="icon" [type]="'button'" [routerLink]="'../..'">
          <mat-icon>close</mat-icon>
        </a>
      </div>
    </div>

    <div class="mb-3">
      <h4 class="mb-1 me-1" i18n>Immagini piatto</h4>
      <app-show-images class="mb-3" [recordType]="'Menu::Dish'" [recordId]="dish()?.id"
                       [images]="dish()?.images"></app-show-images>
    </div>

    <div class="mb-3">
      <h4 class="mb-1 me-1" i18n>Stato piatto</h4>
      <app-edit-dish-status (deleteDish)="delete()" (statusChange)="updateStatus($event)" [dish]="dish()"
                            (dishChange)="dish.set($event)"></app-edit-dish-status>
    </div>

    @if (dish()?.translations) {
      <div class="mb-3">
        <h4 class="mb-1 me-1" i18n>Traduzioni</h4>
        <app-name-desc-eip class="mb-3" (submittedChanges)="saveNameDesc($event)"
                           [translations]="dish()?.translations"></app-name-desc-eip>
      </div>
    }

    <div class="mb-3">
      <app-dish-ingredients [dish]="dish()" (dishChange)="dish.set($event)" ></app-dish-ingredients>
    </div>

    <div class="mb-3">
      <app-dish-allergens [dish]="dish()" (dishChange)="dish.set($event)" ></app-dish-allergens>
    </div>

    <div class="mb-3">
      <app-dish-tags [dish]="dish()" (dishChange)="dish.set($event)" ></app-dish-tags>
    </div>

    <button tuiButton [appearance]="'secondary-destructive'" type="button" (click)="confirmAndDelete()">
      <ng-container i18n>Elimina piatto</ng-container>
    </button>

  </div>
} @else if (loading()) {
  <tui-loader [showLoader]="true" [size]="'l'"></tui-loader>
}
