
<ng-template #langSelectTemp>
  <ng-template #dataList>
    <tui-data-list>
      <ng-container *ngFor="let lang of languages">
        <ng-container *ngIf="lang.iso != currentLanguage().iso">
          <button (click)="changePath(lang.code)" tuiOption>
            <span class="block">
              <span class="me-1" [innerText]="lang.name"></span>
              <img class="flag" [src]="lang.iso | tuiFlag" />
            </span>
          </button>
        </ng-container>
      </ng-container>
    </tui-data-list>
  </ng-template>

  <tui-hosted-dropdown [content]="dataList">
    <button class="md:me-2" tuiButton appearance="custom" size="m">
       <span class="flex items-center flex-row">
        <span class="me-1" [innerText]="currentLanguage().name"></span>
        <img class="flag" [src]="currentLanguage().iso | tuiFlag" />
        <!-- <span class="material-icons">expand_more</span> -->
         <mat-icon>expand_more</mat-icon>
       </span>
    </button>
  </tui-hosted-dropdown>
</ng-template>

<div class="placeholder">.</div>


<nav #navbar class="navbar | fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/img/logo-partial-building.svg" alt="Logo" class="block sm:hidden h-[52px]"/>
      <img src="assets/img/logo.png" alt="Logo" class="hidden sm:block h-[52px]"/>
    </a>

    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <ng-container *ngTemplateOutlet="langSelectTemp"></ng-container>

      <span class="hidden md:inline-block">
        <a tuiButton size="m" appearance="custom" routerLink="/reserve"
                class="btn-primary text-base">
          <ng-container i18n>Prenota ora</ng-container>
        </a>
      </span>

      <span class="inline-block md:hidden">
        <a tuiButton size="s" appearance="custom" routerLink="/reserve"
                class="btn-primary text-base">
          <ng-container i18n>Prenota ora</ng-container>
        </a>
      </span>

      <div class="block md:hidden" >
        <button (click)="triggerMenu()" size="m" appearance="outline" tuiIconButton>
          <app-menu-icon [isOpen]="isMenuOpen"></app-menu-icon>
        </button>
      </div>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="navbar-links | flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a tuiLink routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"
             class="block py-2 px-3 text-base"
             aria-current="page">
            <span class="text-lg">Home</span>
          </a>
        </li>
        <li>
          <a tuiLink routerLink="/menu" [routerLinkActive]="'active'"
             class="block py-2 px-3 text-base">
            <span class="text-lg" i18n>Menù</span>
          </a>
        </li>
        <li>
          <a tuiLink routerLink="/about" [routerLinkActive]="'active'"
             class="block py-2 px-3 text-base">
            <span i18n class="text-lg">Chi siamo</span>
          </a>
        </li>
        <li>
          <a tuiLink [routerLink]="['', {outlets: {contacts: ['show']}}]"
             class="block py-2 px-3 text-base">
            <span i18n class="text-lg">Contattaci</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div #navbarLinks class="fullsize-navbar-links | items-center flex md:hidden flex-col px-3"
  [ngClass]="{'open': isMenuOpen}">
  <div class="content-around flex flex-col items-center my-auto"
    [style]="{'max-height': '350px', 'height': '50%'}">
    <a class="simple-link" tuiLink [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" routerLink="/" i18n>Home</a>
    <a class="simple-link" tuiLink [routerLinkActive]="'active'" routerLink="/menu"><ng-container i18n>Menù</ng-container></a>
    <a class="simple-link" tuiLink [routerLinkActive]="'active'" routerLink="/about"><ng-container i18n>Chi siamo</ng-container></a>
    <a class="simple-link" tuiLink [routerLink]="['', {outlets: {contacts: ['show']}}]"><ng-container i18n>Contattaci</ng-container></a>

    <!-- <ng-container *ngTemplateOutlet="langSelectTemp"></ng-container> -->
  </div>
</div>
