<ng-template #loginDropdownContent>
  <tui-data-list>
    <a routerLink="/admin/profile" tuiOption i18n>Profilo</a>
    <button (click)="logout()" tuiOption i18n>Esci</button>
  </tui-data-list>
</ng-template>

<div class="bg-white flex flex-wrap justify-between sticky top-0 shadow-sm px-3">
  <div class="flex items-center">

    <button (click)="triggerSidenav()" tuiIconButton appearance="icon" type="button">
      <mat-icon>menu</mat-icon>
    </button>

    <a routerLink="/admin">
      <img src="assets/img/logo.png" alt="Lpda2" class="max-h-[60px]"/>
    </a>
  </div>

  <div class="flex items-center">
    @if (cu() == null) {
      <a routerLink="/auth" size="m" tuiButton appearance="outline">
        <span class="flex items-center">
          <mat-icon class="me-1">account_circle</mat-icon>
          <ng-container i18n>Login</ng-container>
        </span>
      </a>
    } @else {
      <tui-hosted-dropdown [content]="loginDropdownContent">
        <button size="m" tuiButton appearance="outline">
          <span class="flex items-center">
            <span i18n>{{ cu()?.fullname ?? cu()?.email }}</span>
            <mat-icon>expand_more</mat-icon>
          </span>
        </button>
      </tui-hosted-dropdown>
    }
  </div>
</div>