<h1>home works!</h1>

<a routerLink="/admin"> Go to /admin </a>

<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>
<p>Ciao!</p>