/* You can add global styles to this file, and also import other style files */


// @tailwind base;
// @tailwind components;

@tailwind utilities;

@import "assets/styles/rotations.scss";
@import "assets/styles/responsive-table.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
  * Drag and drop shake animation
 */
.drag-shake {
  animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}