/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/styles/rotations.scss";
@import "assets/styles/responsive-table.scss";
@import "assets/styles/fonts.scss";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
  * Drag and drop shake animation
 */
.drag-shake {
  animation: tilt-shaking 0.3s infinite;
}

:root {
  --first-color: #A65C23;
  --second-color: #D4B895;
  --third-color: #030303;
  --fourth-color: #F5ECD2;
  --fifth-color: #B09A7D;
  --sixth-color: #EEEAE3;
  --seventh-color: #EFE1CE;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  @apply text-4xl;
  @apply mb-3;
  @apply block;
}

app-home-layout {
  .selected-link, .active-link, a.active {
    font-weight: bold;
    color: var(--first-color);
  }

  a {
    color: var(--second-color);

    &:hover {
      color: var(--first-color);
    }
  }

  $colors: var(--first-color), var(--second-color);
  $names: primary, secondary;
  @each $color, $name in zip($colors, $names) {
    .text-#{$name} {
      color: $color;
    }

    .border-#{$name} {
      border-color: $color;
    }
  }

  .btn, .btn-primary, .btn-secondary, .btn-danger {
    @apply focus:outline-none;
    @apply font-medium;
    @apply rounded-lg;
    @apply text-sm;
    @apply px-4;
    @apply py-2;
    @apply text-center;
  }

  .btn-primary {
    background-color: var(--first-color);
    color: white;
    transition: all 0.3s;

    &:hover {
      background-color: var(--seventh-color);
      color: var(--first-color);
    }
  }
}
