<h1 class="block mb-3">
  <ng-container i18n>Modifica massiva prezzi piatti</ng-container>
</h1>

<div class="block mb-2">
  <a tuiLink routerLink="..">
    <ng-container i18n>Indietro</ng-container>
  </a>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="mb-3">
    <div tuiGroup class="group" [collapsed]="true">
      <tui-radio-block formControlName="isAbsolute" [item]="false" size="l">
        <ng-container i18n>Percentuale</ng-container>
      </tui-radio-block>
  
      <tui-radio-block formControlName="isAbsolute" [item]="true" size="l">
        <ng-container i18n>Valore assoluto</ng-container>
      </tui-radio-block>
    </div>
  </div>

  <tui-expand [expanded]="form.controls.isAbsolute.value">
    <div class="mb-3">
      <tui-input-number [tuiTextfieldPostfix]="'€'" formControlName="amount">
        <ng-container i18n>Valore assoluto</ng-container>
      </tui-input-number>

      <app-errors [errors]="form.get('amount')?.errors"></app-errors>
    </div>
  </tui-expand>


  <tui-expand [expanded]="!form.controls.isAbsolute.value">
    <div class="mb-3">
      <tui-input-number [tuiTextfieldPostfix]="'%'" formControlName="percent">
        <ng-container i18n>Percentuale</ng-container>
      </tui-input-number>

      <app-errors [errors]="form.get('percent')?.errors"></app-errors>
    </div>
  </tui-expand>

  <!-- <tui-input-number [tuiTextfieldPostfix]="absoluteValue.value ? '€' : '%'" formControl="value">
  <ng-container i18n>Inserisci il modificatore</ng-container>
</tui-input-number> -->

  <app-errors [errors]="form.errors"></app-errors>

  <div class="flex items-center">
    <button [showLoader]="loading()" tuiButton appearance="primary" type="submit">
      <ng-container i18n>Conferma</ng-container>
    </button>
  </div>
</form>