<h1>
  <ng-container i18n>Prenotazioni</ng-container>
</h1>


<ng-template #datetimeCol>
  <ng-container i18n>Orario</ng-container>
</ng-template>

<ng-template #nameCol>
  <ng-container i18n>Nome</ng-container>
</ng-template>

<ng-template #emailCol>
  <ng-container i18n>Email</ng-container>
</ng-template>

<ng-template #peopleCol>
  <ng-container i18n>N°</ng-container>
</ng-template>

<ng-template #statusCol>
  <ng-container i18n>Stato</ng-container>
</ng-template>

<ng-template #tableCol>
  <ng-container i18n>Tavolo</ng-container>
</ng-template>

<ng-template #detailsCol>
  <ng-container i18n>Note</ng-container>
</ng-template>

<ng-template #contactsCol>
  <ng-container i18n>Contatti</ng-container>
</ng-template>

<ng-template #noItems>
  <app-no-items [showLoader]="loading()" >
    <h4 i18n>Nessuna prenotazione</h4>
    <span i18n>Prova a modificare i filtri di ricerca</span>
  </app-no-items>
</ng-template>

<app-list-reservations-filters [loading]="loading()" (filtersChanged)="filtersChanged($event)" [data]="data()">
  <table *ngIf="loading() || items().length > 0; else noItems" class="responsive-table collapse-md">
    <thead>
      <tr>
        <th class="text-start">
          <app-order-by [item]="'datetime'" [formControl]="order">
            <ng-container *ngTemplateOutlet="datetimeCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <app-order-by [item]="'fullname'" [formControl]="order">
            <ng-container *ngTemplateOutlet="nameCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <app-order-by [item]="'people'" [formControl]="order">
            <ng-container *ngTemplateOutlet="peopleCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <app-order-by [item]="'status'" [formControl]="order">
            <ng-container *ngTemplateOutlet="statusCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <app-order-by [item]="'table'" [formControl]="order">
            <ng-container *ngTemplateOutlet="tableCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <app-order-by [item]="'notes'" [formControl]="order">
            <ng-container *ngTemplateOutlet="detailsCol"></ng-container>
          </app-order-by>
        </th>
        <th class="text-start">
          <ng-container *ngTemplateOutlet="contactsCol"></ng-container>
        </th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="datetimeCol"></ng-container>
                </span>

            <ng-template #detailDatetime>
              {{ item.datetime | date: 'full' }}
            </ng-template>

            <span [tuiHint]="detailDatetime"> {{ item.datetime | date: 'HH:mm' }} </span>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="nameCol"></ng-container>
                </span>

            <span>{{ item.fullname }}</span>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="peopleCol"></ng-container>
                </span>

            <app-reservation-people
                [adults]="item.adults"
                [children]="item.children"
            ></app-reservation-people>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="statusCol"></ng-container>
                </span>

            <span>{{ item.status }}</span>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="tableCol"></ng-container>
                </span>

            <span>{{ item.table }}</span>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="detailsCol"></ng-container>
                </span>

            <span>{{ item.notes }}</span>
            <app-admin-reservation-payment [reservation]="item"></app-admin-reservation-payment>
          </td>
          <td>
                <span class="collapse-header">
                  <ng-container *ngTemplateOutlet="contactsCol"></ng-container>
                </span>

            @if (item.phone && item.phone.length > 0) {
              <p [phoneTo]="item.phone" [whatsapp]="true">{{ item.phone }}</p>
            }
            @if (item.email && item.email.length > 0) {
              <p [mailTo]="item.email">{{ item.email }}</p>
            }
          </td>
          <td>
            <div class="flex items-baseline">
              <app-reservation-events class="my-auto" [reservation]="item"></app-reservation-events>

              <a class="me-1" size="m" routerLink="{{ item.id }}" tuiIconButton appearance="flat">
                <mat-icon>edit</mat-icon>
              </a>

              <button (click)="delete(item.id)" size="m" type="button" tuiIconButton appearance="secondary-destructive">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

</app-list-reservations-filters>

<router-outlet></router-outlet>