<div class="flex justify-center h-full">
  <div class="flex flex-col justify-center">
    <form class="flex flex-col" (ngSubmit)="submit()" [formGroup]="form">
      <h2 class="mb-1">Reimposta la password.</h2>
      <span class="text-slate-400 mb-3">Inserisci la nuova password.</span>
      <div class="mb-2 hidden">
        <tui-input [tuiAutoFocus]="true" [tuiTextfieldSize]="'l'" formControlName="code">
          <ng-container i18n>Codice</ng-container>
          <input tuiTextfield type="text">
          </tui-input>
        </div>
        <div class="mb-2">
          <tui-input-password [tuiAutoFocus]="true" [tuiTextfieldSize]="'l'" formControlName="password">
            <ng-container i18n>Password</ng-container>
            <input tuiTextfield type="text">
            </tui-input-password>
            @if (se('password')) {
              <app-errors [errors]="e('password')"></app-errors>
            }
          </div>
          @if (se('code')) {
            <app-errors [errors]="e('code')"></app-errors>
          }
          @if (submitted) {
            <app-errors [errors]="form.errors"></app-errors>
          }
          <div class="flex justify-between">
            <button class="me-2" routerLink="/auth" tuiButton appearance="secondary" type="button">Annulla</button>
            <button [showLoader]="loading" class="ms-2" tuiButton type="submit">Conferma</button>
          </div>
        </form>
      </div>
    </div>
    